# Module 10: Extracting Data from Websites

Html overview using AUDL standings

Importing Beautiful Soup/Description of BeautifulSoup

Reading File into BeautifulSoup

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup (open(r"C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\standings.htm")
                     )

Findall

In [5]:
soup.find_all('td')[0]

Get

In [7]:
soup.find_all('td')[0].get('class')

['views-field', 'views-field-team-field-team-thumbnail-image']

Contents

In [21]:
soup.find_all('td')[165].contents[0]

'            8-2          \n'

Putting it together with loops

In [38]:
winList=[]
lossList=[]
nameList=[]
for tableCell in soup.find_all('td'):
    for className in tableCell.get('class'):
        if 'wins' in className:
            winList.append(tableCell.contents[0])
        if 'losses' in className:
            lossList.append(tableCell.contents[0])
        if 'display-name' in className and '\n' in tableCell.contents[0]:
            nameList.append(tableCell.contents[0])

In [50]:
import pandas as pd
    
pd.DataFrame({'Wins':winList,'Losses':lossList,'Team Name':nameList})

,Wins,Losses,Team Name
0,11,0,New York Empire
1,7,4,DC Breeze
2,6,5,Toronto Rush
3,3,6,Philadelphia Phoenix
4,3,7,Montreal Royal
5,2,8,Ottawa Outlaws
6,8,2,Raleigh Flyers
7,8,2,Dallas Roughnecks
8,4,7,Tampa Bay Cannons
9,4,7,Atlanta Hustle
10,3,9,Austin Sol
11,9,2,San Diego Growlers
12,8,3,Los Angeles Aviators
13,3,8,San Jose Spiders
14,2,9,Seattle Cascades
15,7,3,Chicago Wildfire
16,7,3,Indianapolis AlleyCats ...
17,5,4,Pittsburgh Thunderbirds ...
18,6,5,Minnesota Wind Chill
19,4,6,Madison Radicals
20,0,10,Detroit Mechanix