# Importing Data from Forms

Open and Explore the Data File in a Word Processor

Paypal Samples/AccountInfo-harrypotter@hotmail.com-2304074730245993858-20190503054243.txt

Open and view a single file in Python

In [4]:
with open(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\Paypal Samples/AccountInfo-harrypotter-hotmail.com-2304074730245993858-20190503054243.txt','r') as f:
    for line in f:
        print(line)

                           Global Investigations



                           Law Enforcement Officer:                                                       Smith, John SA



                           Law Enforcement Agency:                                                        FBI - Manassas, VA







                           Law Enforcement Reference:



                           All times indicated in this document refer to time zone GMT



                           Registration Information



                           User Info



                           First Name                                                                     Harry



                           Middle Name                                                                    James



                           Last Name                                                                      Potter



                           DOB                                                                            7-May-97



                                                                                                                                Phone Numbers



                           Phone Number                                                                   Confirmation Status                                                                             Type



                           +1 555555555                                                                  Confirmed                                                                                       Mobile - Deleted



                           +1 6666666666                                                                  Unconfirmed                                                                                     Mobile - Deleted



                           +1 7777777777                                                                  Unconfirmed                                                                                     Mobile - Deleted



                                                                                                                                         Addresses



                           Address                                                                                                                                    Use                                                                     Date Entered



                           Closet Under the Stairs, Little Wynching                                                                                    Home Or Work                                                            05/01/19



                           Hogwarts School of Witchcraft and Wizardry                                                           10/30/18

Extracting first name, last name, and DOB from file

In [6]:
with open(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\Paypal Samples/AccountInfo-harrypotter-hotmail.com-2304074730245993858-20190503054243.txt','r') as f:
    for line in f:
        if 'First Name' in line:
            firstName=line
        if 'Last Name' in line:
            lastName=line
        if 'DOB' in line:
            dob=line
firstName,lastName,dob

('                           First Name                                                                     Harry\n',
 '                           Last Name                                                                      Potter\n',
 '                           DOB                                                                            7-May-97\n')

Cleaning Text

In [7]:
cleanedFirstName=firstName.replace('First Name','').strip()
cleanedLastName=lastName.replace('Last Name','').strip()
cleanedDob=dob.replace('DOB','').strip()
cleanedFirstName,cleanedLastName,cleanedDob

('Harry', 'Potter', '7-May-97')

Locating Nested Tables using Key Terms and Toggles

In [9]:
inPhoneNumbersSection=False
with open(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\Paypal Samples/AccountInfo-harrypotter-hotmail.com-2304074730245993858-20190503054243.txt','r') as f:
    for line in f:
        if 'Addresses' in line:
            inPhoneNumbersSection=False
        if inPhoneNumbersSection==True:
            print(line)
        if 'Phone Numbers' in line:
            inPhoneNumbersSection=True

                           Phone Number                                                                   Confirmation Status                                                                             Type



                           +1 555555555                                                                  Confirmed                                                                                       Mobile - Deleted



                           +1 6666666666                                                                  Unconfirmed                                                                                     Mobile - Deleted



                           +1 7777777777                                                                  Unconfirmed                                                                                     Mobile - Deleted

Storing Data from Nested Tables

In [12]:
inPhoneNumbersSection=False
phoneNumberRows=[]
with open(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\Paypal Samples/AccountInfo-harrypotter-hotmail.com-2304074730245993858-20190503054243.txt','r') as f:
    for line in f:
        if 'Addresses' in line:
            inPhoneNumbersSection=False
        if inPhoneNumbersSection==True:
            if len(line)>10:
                phoneNumberRows.append(line.split())
        if 'Phone Numbers' in line:
            inPhoneNumbersSection=True
phoneNumberRows

[['Phone', 'Number', 'Confirmation', 'Status', 'Type'],
 ['+1', '555555555', 'Confirmed', 'Mobile', '-', 'Deleted'],
 ['+1', '6666666666', 'Unconfirmed', 'Mobile', '-', 'Deleted'],
 ['+1', '7777777777', 'Unconfirmed', 'Mobile', '-', 'Deleted']]

Convert Extracted Data to Data Frame

In [13]:
import pandas as pd
phoneNumbers=pd.DataFrame(phoneNumberRows)
phoneNumbers

       0           1             2       3     4        5
0  Phone      Number  Confirmation  Status  Type     None
1     +1   555555555     Confirmed  Mobile     -  Deleted
2     +1  6666666666   Unconfirmed  Mobile     -  Deleted
3     +1  7777777777   Unconfirmed  Mobile     -  Deleted

Change Column Headers, then drop the first row

In [14]:
phoneNumbers.columns=['Country Code','Number','Confirmation','Type','Additional Info','Deleted']
phoneNumbers=phoneNumbers.drop(0)
phoneNumbers

  Country Code      Number Confirmation    Type Additional Info  Deleted
1           +1   555555555    Confirmed  Mobile               -  Deleted
2           +1  6666666666  Unconfirmed  Mobile               -  Deleted
3           +1  7777777777  Unconfirmed  Mobile               -  Deleted

Listing Files in a folder

In [15]:
import os
files=os.listdir(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\Paypal Samples/')
files

['AccountInfo-harrypotter-hotmail.com-2304074730245993858-20190503054243.txt',
 'AccountInfo-hermionegranger-gmail.com-1949742777572609669-20190503045620.txt']

Putting Bio Info from Multiple Files Together

In [17]:
firstNames=[]
lastNames=[]
dobs=[]
for file in files:
    with open(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\Paypal Samples/'+file,'r') as f:
        for line in f:
            if 'First Name' in line:
                firstName=line
            if 'Last Name' in line:
                lastName=line
            if ' DOB ' in line:
                dob=line
        cleanedFirstName=firstName.replace('First Name','').strip()
        cleanedLastName=lastName.replace('Last Name','').strip()
        cleanedDob=dob.replace('DOB','').strip()
        firstNames.append(cleanedFirstName)
        lastNames.append(cleanedLastName)
        dobs.append(cleanedDob)
firstNames,lastNames,dobs

(['Harry', 'Hermione'], ['Potter', 'Granger'], ['7-May-97', '22-May-92'])

Convert Bio Info to Dataframe

In [18]:
bioDf=pd.DataFrame({'First Name':firstNames,'Last Name':lastNames,'DOB':dobs})
bioDf

  First Name Last Name        DOB
0      Harry    Potter   7-May-97
1   Hermione   Granger  22-May-92

Concatenating Phone Number Tables

In [20]:
phoneNumbers=pd.DataFrame()
for file in files:
    with open(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Data Files\Paypal Samples/'+file,'r') as f:
        for line in f:
            if 'Addresses' in line:
                inPhoneNumbersSection=False
            if inPhoneNumbersSection==True:
                if len(line)>10:
                    phoneNumberRows.append(line.split())
            if 'Phone Numbers' in line:
                inPhoneNumbersSection=True
    phoneNumbers=pd.concat([phoneNumbers,pd.DataFrame(phoneNumberRows)])

phoneNumbers.columns=['Country Code','Number','Confirmation','Type','Additional Info','Deleted']
phoneNumbers=phoneNumbers[phoneNumbers['Number']!='Number']
phoneNumbers

,Country Code,Number,Confirmation,Type,Additional Info,Deleted
1,+1,555555555,Confirmed,Mobile,-,Deleted
2,+1,6666666666,Unconfirmed,Mobile,-,Deleted
3,+1,7777777777,Unconfirmed,Mobile,-,Deleted
5,+1,555555555,Confirmed,Mobile,-,Deleted
6,+1,6666666666,Unconfirmed,Mobile,-,Deleted
7,+1,7777777777,Unconfirmed,Mobile,-,Deleted
1,+1,555555555,Confirmed,Mobile,-,Deleted
2,+1,6666666666,Unconfirmed,Mobile,-,Deleted
3,+1,7777777777,Unconfirmed,Mobile,-,Deleted
5,+1,555555555,Confirmed,Mobile,-,Deleted
6,+1,6666666666,Unconfirmed,Mobile,-,Deleted
7,+1,7777777777,Unconfirmed,Mobile,-,Deleted
9,+57,33333333333333333,Unconfirmed,Mobile,None,None