# Module 5 Lecture: Manipulating Dataframes

Import and Read Data

Brief Exploratory Analysis

Subsetting

Sorting

Changing Data Types

Merging

In [9]:
conus=pd.DataFrame({'CONUS Status':['CONUS' if x>.5 else 'OCONUS' for x in np.random.random(20)],
           'Username':list(df['username'].unique())[-20:]})

   Location         Username
0     CONUS       melvynlion
1    OCONUS      Nidalgazaui
2    OCONUS     al_zaishan10
3     CONUS           ro34th
4    OCONUS        Abdul__05
5     CONUS       ___KU217_y
6     CONUS  Suspend_Me_fags
7     CONUS    Afriqqiya_252
8     CONUS           btt_ar
9    OCONUS         murasil1
10    CONUS     __alfresco__
11   OCONUS        ALK___226
12   OCONUS          st3erer
13    CONUS     AbuMusab_110
14    CONUS      kIakishini5
15    CONUS    freelance_112
16    CONUS          nvor85j
17    CONUS   Mountainjjoool
18   OCONUS        04_8_1437
19   OCONUS       wayff44rer

Concatenating

In [12]:
additionalRows=df.sample(20)

Melting

In [27]:
hashtagColumns=['Hashtag '+str(x) for x in range(7)]
print(hashtagColumns)
melted=df.melt(id_vars=['name','username','tweets'],value_vars=hashtagColumns)
melted.head()

['Hashtag 0', 'Hashtag 1', 'Hashtag 2', 'Hashtag 3', 'Hashtag 4', 'Hashtag 5', 'Hashtag 6']

,name,username,tweets,variable,value
0,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATION: 'A MESSAGE TO THE TRUTHFU...,Hashtag 0,NaN
1,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATION: SHEIKH FATIH AL JAWLANI '...,Hashtag 0,NaN
2,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATION: FIRST AUDIO MEETING WITH ...,Hashtag 0,NaN
3,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATION: SHEIKH NASIR AL WUHAYSHI ...,Hashtag 0,NaN
4,GunsandCoffee,GunsandCoffee70,ENGLISH TRANSLATION: AQAP: 'RESPONSE TO SHEIKH...,Hashtag 0,NaN

Pivoting

In [14]:
list(df.columns)

['Unnamed: 0',
 'name',
 'username',
 'description',
 'location',
 'followers',
 'numberstatuses',
 'time',
 'tweets',
 'Hashtag 0',
 'Hashtag 1',
 'Hashtag 2',
 'Hashtag 3',
 'Hashtag 4',
 'Hashtag 5',
 'Hashtag 6']

In [29]:
melted.pivot(columns='variable',values='value').head()

variable Hashtag 0 Hashtag 1 Hashtag 2 Hashtag 3 Hashtag 4 Hashtag 5 Hashtag 6
0              NaN       NaN       NaN       NaN       NaN       NaN       NaN
1              NaN       NaN       NaN       NaN       NaN       NaN       NaN
2              NaN       NaN       NaN       NaN       NaN       NaN       NaN
3              NaN       NaN       NaN       NaN       NaN       NaN       NaN
4              NaN       NaN       NaN       NaN       NaN       NaN       NaN

Apply

Removing Duplicates