# Module 1 Exercise - Base Python Review

### Part 1 - Syntax for loops, conditionals, and functions

Let's start by creating a list.  We'll be working with this list for the rest of this exercise.

In [3]:
bankRobbers=['Adams','Ashley','Bailey','Bates','Barker','Best','Burke','Coy']

**1a** Write a for loop in the below cell that prints each item in the list

In [5]:
##Your for loop here
for robber in bankRobbers:
    print(robber)

Adams
Ashley
Bailey
Bates
Barker
Best
Burke
Coy

**1c** Now, let's write a function called initial that just takes one name and returns the first letter of that name.  For example:  initial('Adams') should return 'A'

In [8]:
##Your definition of the function named initial here
def initial(name):
    return name[0]
print(initial('Adams'))

A

**1d** Copy your for loop from 1a into the below cell and amend it to use the function you just wrote inside the for loop to print only the first letter of each name

In [9]:
##Your for loop here
for robber in bankRobbers:
    print(initial(robber))
##Your loop here

A
A
B
B
B
B
B
C

**1e** Copy your for loop from 1d into the below cell.  Use your for loop to identify which names start with the letter B and print only those names.

In [10]:
##Your for loop here
for robber in bankRobbers:
    if initial(robber)=='B':
        print(robber)

Bailey
Bates
Barker
Best
Burke

### Part 2 - Dictionaries

Let's add second variable - a dictionary called robberies.  This will contain the name of the bank robber and the amount of money stolen

In [11]:
robberies={'Ashley':15676758,'Best':67535667,'Burke':2453223}

**2a** Now that we have a dictionary and a list, you'll write a function called completeRobberies.  completeRobberies should take two inputs, the list of bank robbers and the dictionary of robberies.  It should return a dictionary linking each bank robber to the value in robberies (if they have one) or 0 (if not). Specifically, 

completeRobberies(bankRobbers,robberies)

should return: {'Adams':0,'Ashley':15676758,'Bailey':0,'Bates':0,'Barker':0,'Best':67535667,'Burke':2453223}

In [13]:
def completeRobberies(bankRobbers, robberies):
    fullDictionary={}
    for robber in bankRobbers:
        if robber in robberies:
            fullDictionary[robber]=robberies[robber]
        else:
            fullDictionary[robber]=0
    
    ##Your code here to fill in fullDictionary
    
    return fullDictionary
completeRobberies(bankRobbers,robberies)

{'Adams': 0,
 'Ashley': 15676758,
 'Bailey': 0,
 'Bates': 0,
 'Barker': 0,
 'Best': 67535667,
 'Burke': 2453223,
 'Coy': 0}

### If you have time

**Extra 1**  Select a random item from bankRobbers

In [25]:
##Your import here
import random
randomItem=random.choice(bankRobbers)
print(randomItem)

Bailey

**Extra 2** Use the dict and zip functions to create a new dictionary connecting the bank robbers name to their life time hauls.  For example, haulDict['Ashley'] should be 8

In [26]:
lifetimeHauls=[8*i for i in range(len(bankRobbers))]
haulDict=dict(zip(bankRobbers,lifetimeHauls))
print(haulDict['Ashley'])

8

**Extra 3** Find the number of unique letters in all of the bank robbers names put together (you should get 17)

In [29]:
len(set(''.join(bankRobbers)))

17

**Extra 4** Use set and intersect to write a function to find any/all letters that appear as the first letter of a word **and** the second letter of a word.  For example overlap(['cat','apple','pony']) would return ['p','a']

In [35]:
##Your code here
def overlap(words):
    last=set([word[1] for word in words])
    first=set(word[0] for word in words)
    return first.intersection(last)
print(overlap(['cat','apple','pony']))

{'a', 'p', 'c'} {'a', 'o', 'p'}
{'a', 'p'}