# Importing Data from Forms Exercise

### Prelude

Using a text editor, open the file "Victim 2.txt" from this module's folder in the data files section of the course materials.  Observe how there are some basic pieces of information as well as a two-column table in the document (columns are service type and number of services)

### Part 1: Working with a Single File

**1a** Use python to open the Victim 2.txt.  Print the contents of the file line-by-line

In [2]:
with open('C:/users/mwbarr/documentation of services samples/victim 2.txt', 'r') as file:
    for line in file:
        print(line)

Victim Services Division Documentation of Services





Download Date: 03-OCT-19



From: 01-JAN-00



To: 03-OCT-19



Victim Name: Leia  Organna



FBI Case Number: 123H-DN-IP-2345



Downloaded By: Matthew Barr



 Service Type	Number of Services

Ante Mortem Data Collection Assistance	4

Accompany Victim Counseling Appointment	2

Case Status Update (Non-VNS)	1

Accompany Victim Court	2

Forensic Interview Accompanied	1



 Additional Notes and Services:







 *This document will become a permanent record in the case file and is discoverable.  Please limit comments to logistical or service referral information.  Do not reference mental health information or personal opinion.

**1b** Identify and store the victim's name from the file in a variable called victimName. Store the case number in a variable called caseNumber (note: for this and subsequent pieces of the exercise, you may want to copy and paste your code from earlier cells)

In [5]:
with open('C:/users/mwbarr/documentation of services samples/victim 2.txt', 'r') as file:
    for line in file:
        if 'Victim Name' in line: victimName=line.replace('Victim Name:','').strip()
        if 'FBI Case' in line: caseNumber=line.replace('FBI Case Number:','').strip()            
print(victimName,caseNumber)

Leia  Organna 123H-DN-IP-2345

**1c** Using a toggle variable to identify the beginning and end of the table, find the rows of the table embedded in the file.  Split each row using the split() function, then add the split row to the list called tableRows.  Your output should be a list of lists in the format:
[[Row1Word1, Row1Word2, Row1Word3']...[Row4Word1,Row4Word2,Row4Word3]]


As with most items in this exercise, it probably makes sense to copy/paste your old code and build on it.

In [13]:
inTable=False
tableRows=[]
with open('C:/users/mwbarr/documentation of services samples/victim 2.txt', 'r') as file:
    for line in file:
        if 'Additional Notes' in line:
            inTable=False
        if inTable and len(line)>10:
            tableRows.append(line.split())
        if 'Service Type' in line:
            inTable=True
print(tableRows)

[['Ante', 'Mortem', 'Data', 'Collection', 'Assistance', '4'], ['Accompany', 'Victim', 'Counseling', 'Appointment', '2'], ['Case', 'Status', 'Update', '(Non-VNS)', '1'], ['Accompany', 'Victim', 'Court', '2'], ['Forensic', 'Interview', 'Accompanied', '1']]

**1d**  Review the below code that joins together all but the last word of every column. newRows is still a list of lists, but now, the first item in each list corresponds to the first column and the second corresponds to the second column

In [15]:
newRows=[]
for t in tableRows:
    newRows.append([' '.join(t[:-1]),t[-1]])
print(newRows)

[['Ante Mortem Data Collection Assistance', '4'], ['Accompany Victim Counseling Appointment', '2'], ['Case Status Update (Non-VNS)', '1'], ['Accompany Victim Court', '2'], ['Forensic Interview Accompanied', '1']]

**1e** Convert newRows to a Data Frame.  Make any necessary adjustments to ensure proper column headers

In [19]:
import pandas as pd
myDataFrame=pd.DataFrame(newRows)
myDataFrame.columns=['Service Type','Number of Services']
myDataFrame.head()

                              Service Type Number of Services
0   Ante Mortem Data Collection Assistance                  4
1  Accompany Victim Counseling Appointment                  2
2             Case Status Update (Non-VNS)                  1
3                   Accompany Victim Court                  2
4           Forensic Interview Accompanied                  1

### Part 2:  Combining Data From Multiple Files

**2a** Generate a list of all files in the 'Documentation of Services Samples' folder

In [20]:
files=[]
import os
files=os.listdir('C:/users/mwbarr/Documentation of Services Samples')
print(files)

['Victim 1.txt', 'Victim 2.txt', 'Victim 3.txt']

**2b** Loop over that list.  Open each file, extract victim name and FBI case number from each file, and store those in a 2-column dataframe. [Hint:  You can use the technique and/or code from 1b to do so]

In [25]:
rows=[]
for f in files:
    with open('C:/users/mwbarr/documentation of services samples/'+f, 'r') as file:
        for line in file:
            if 'Victim Name' in line: victimName=line.replace('Victim Name:','').strip()
            if 'FBI Case' in line: caseNumber=line.replace('FBI Case Number:','').strip()
        rows.append([victimName,caseNumber])
df=pd.DataFrame(rows)
df.columns=['Name','Case Number']
df

            Name      Case Number
0    Bill  Smith  123H-DN-IP-2345
1  Leia  Organna  123H-DN-IP-2345
2  Harry  Potter  123H-DN-IP-2345

**2c** Loop over the list again.  This time, extract each nested table and combine them into a single dataframe.  You will need to use code from 1c AND 1d to do this

In [41]:
rows=[]
finalDF=pd.DataFrame()
for f in files:
    inTable=False
    tableRows=[]
    with open('C:/users/mwbarr/documentation of services samples/'+f, 'r') as file:
        for line in file:
            if 'Additional Notes' in line:
                inTable=False
            if inTable and len(line)>10:
                tableRows.append(line.split())
            if 'Service Type' in line:
                inTable=True
        newRows=[]
        for t in tableRows:
            newRows.append([' '.join(t[:-1]),t[-1]])
    finalDF=pd.concat([finalDF,pd.DataFrame(newRows)])
finalDF.columns=['Service Type','Number of Services']
finalDF

                              Service Type Number of Services
0                Initial Contact In Person                  1
1                      Crisis Intervention                  1
0   Ante Mortem Data Collection Assistance                  4
1  Accompany Victim Counseling Appointment                  2
2             Case Status Update (Non-VNS)                  1
3                   Accompany Victim Court                  2
4           Forensic Interview Accompanied                  1
0   Ante Mortem Data Collection Assistance                  1
1  Accompany Victim Counseling Appointment                  1
2             Case Status Update (Non-VNS)                  1

### If you have time...

Extract all the data from all three files not in the nested tables.  Do so in as few lines of code as possible.

In [42]:
rows=[]
for f in files:
    with open('C:/users/mwbarr/documentation of services samples/'+f, 'r') as file:
        ##Note the use of a dictionary here, which is better practice than using individual variables, like I did earlier
        row={}
        for line in file:
            if ':' in line:
                row[line[:line.find(':')]]=line[line.find(':')+1:].strip()
        rows.append(row)
df=pd.DataFrame(rows)
df

,Additional Notes and Services,Download Date,Downloaded By,FBI Case Number,From,To,Victim Name
0,,03-OCT-19,Matthew Barr,123H-DN-IP-2345,01-JAN-00,03-OCT-19,Bill Smith
1,,03-OCT-19,Matthew Barr,123H-DN-IP-2345,01-JAN-00,03-OCT-19,Leia Organna
2,,03-OCT-19,Matthew Barr,123H-DN-IP-2345,01-JAN-00,03-OCT-19,Harry Potter

Create a table that includes all of the data from the table from 2c, as well as columns for Victim Name and FBI Case Number (corresponding to the appropriate case number and victim from each file)

In [43]:
rows=[]
finalDF=pd.DataFrame()
for f in files:
    inTable=False
    tableRows=[]
    with open('C:/users/mwbarr/documentation of services samples/'+f, 'r') as file:
        for line in file:
            if 'Victim Name' in line: victimName=line.replace('Victim Name:','').strip()
            if 'FBI Case' in line: caseNumber=line.replace('FBI Case Number:','').strip()  
            if 'Additional Notes' in line:
                inTable=False
            if inTable and len(line)>10:
                tableRows.append(line.split())
            if 'Service Type' in line:
                inTable=True
        newRows=[]
        for t in tableRows:
            newRows.append([' '.join(t[:-1]),t[-1],victimName,caseNumber])
    finalDF=pd.concat([finalDF,pd.DataFrame(newRows)])
finalDF.columns=['Service Type','Number of Services','Victim Name','Case Number']
finalDF

,Service Type,Number of Services,Victim Name,Case Number
0,Initial Contact In Person,1,Bill Smith,123H-DN-IP-2345
1,Crisis Intervention,1,Bill Smith,123H-DN-IP-2345
0,Ante Mortem Data Collection Assistance,4,Leia Organna,123H-DN-IP-2345
1,Accompany Victim Counseling Appointment,2,Leia Organna,123H-DN-IP-2345
2,Case Status Update (Non-VNS),1,Leia Organna,123H-DN-IP-2345
3,Accompany Victim Court,2,Leia Organna,123H-DN-IP-2345
4,Forensic Interview Accompanied,1,Leia Organna,123H-DN-IP-2345
0,Ante Mortem Data Collection Assistance,1,Harry Potter,123H-DN-IP-2345
1,Accompany Victim Counseling Appointment,1,Harry Potter,123H-DN-IP-2345
2,Case Status Update (Non-VNS),1,Harry Potter,123H-DN-IP-2345

Use tools from other lessons to summarize and obtain descriptive statistics for this data.  At least in the approach I used, there is a significant flaw in the data that may become apparent when you do so

In [46]:
finalDF.describe()

,Service Type,Number of Services,Victim Name,Case Number
count,10,10,10,10
unique,7,3,3,1
top,Case Status Update (Non-VNS),1,Leia Organna,123H-DN-IP-2345
freq,2,7,5,10

In [47]:
finalDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 2
Data columns (total 4 columns):
Service Type          10 non-null object
Number of Services    10 non-null object
Victim Name           10 non-null object
Case Number           10 non-null object
dtypes: object(4)
memory usage: 400.0+ bytes

In [51]:
finalDF['Number of Services']=finalDF['Number of Services'].astype(int)

In [52]:
finalDF.groupby('Victim Name').agg(sum)['Number of Services']

Victim Name
Bill  Smith       2
Harry  Potter     3
Leia  Organna    10
Name: Number of Services, dtype: int32