# Module 7: Grouping

### Prelude

Import pandas and numpy

In [1]:
import pandas as pd
import numpy as np

Read in the csv file from exercise 4

In [2]:
df=pd.read_csv(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Python for Data Analysis\enronRenamed.csv')
df.head()

,Unnamed: 0,Subject,From,To,cc,bcc,Folder,Origin,FileName,content,user,labeled,dollarValueMentionedinMessage,messageLength,Date
0,0,"RTO Orders - Grid South, SE Trans, SPP and Ent...","Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN...","Kean, Steven </O=ENRON/OU=NA/CN=RECIPIENTS/CN=...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The Southeast RTO orders are out and have foll...,whalley-g,False,NaN,2570,2001-07-13 19:47:20
1,1,More UC/CSU Info,"Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/...","Greg Whalley/HOU/ECT@ENRON, Lavorato, John </O...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,---------------------- Forwarded by David W De...,whalley-g,False,NaN,3761,2001-07-12 11:36:58
2,2,California Update 07.09.01,"Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C...","skean@enron.com, Shapiro, Richard </O=ENRON/OU...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The Bond Legislation The Democrats in the Asse...,whalley-g,False,NaN,1348,2001-07-10 00:47:51
3,3,Davis & Company -- incompetence personified,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,FYI ---------------------- Forwarded by Richar...,whalley-g,False,37.0,2592,2001-07-06 20:45:05
4,4,Link to DWR contract info,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,FYI ---------------------- Forwarded by Richar...,whalley-g,False,43.0,1774,2001-07-06 20:44:33

### Part 1:  Single Column Grouping

**1a** Group the dataframe by user.  No need to aggregate yet

In [4]:
groupedByUser=df.groupby('user')
groupedByUser

**1b** Find the size of each group.  This should give you the same result as value_counts on the user column

In [5]:
sizes=groupedByUser.size()
sizes

user
whalley-g       336
whalley-l      3335
white-s        3272
whitt-m         807
williams-j     1213
williams-w3    3440
wolfe-j        1587
ybarbo-p       1291
zipper-a       1563
zufferli-j      557
dtype: int64

**1c** Aggregate the dollarValueMentionedinMessage using the sum function

In [8]:
dollarSums=groupedByUser['dollarValueMentionedinMessage'].agg(sum)
dollarSums

user
whalley-g      7.789567e+08
whalley-l      1.883690e+09
white-s        2.585873e+09
whitt-m        2.464367e+08
williams-j     6.190834e+07
williams-w3    1.276773e+07
wolfe-j        1.244216e+09
ybarbo-p       1.464423e+07
zipper-a       6.507451e+06
zufferli-j     4.870386e+06
Name: dollarValueMentionedinMessage, dtype: float64

**1d** Aggregate the dollarValueMentionedinMessage using the sum function **and** the messageLength column using the mean function from numpy

In [10]:
dollarsAndLengths=groupedByUser.agg({'dollarValueMentionedinMessage':sum, 'messageLength':np.mean})
dollarsAndLengths

             dollarValueMentionedinMessage  messageLength
user
whalley-g                     7.789567e+08     894.285714
whalley-l                     1.883690e+09    1477.378711
white-s                       2.585873e+09     794.793093
whitt-m                       2.464367e+08    1504.915737
williams-j                    6.190834e+07    1893.497115
williams-w3                   1.276773e+07     817.192151
wolfe-j                       1.244216e+09    1280.096408
ybarbo-p                      1.464423e+07    2067.535244
zipper-a                      6.507451e+06    1137.747921
zufferli-j                    4.870386e+06    1163.635548

**1e** Use the grouped item to transform the data by subtracting the group mean from each item in the messageLength column

In [27]:
meansSubtracted=groupedByUser.transform(lambda x: x-x.mean())['messageLength']
meansSubtracted.head()

0    1675.714286
1    2866.714286
2     453.714286
3    1697.714286
4     879.714286
Name: messageLength, dtype: float64

### Part 2:  Grouping using multiple columns

**2a** Group the dataframe by user and from. No need to aggregate yet

In [11]:
groupedByBoth=df.groupby(['user','From'])
groupedByBoth

**2b** Aggregate the dollarValueMentionedinMessage using standard deviation and the messageLength column using the median function from numpy

In [20]:
dollarsAndLengths=groupedByBoth.agg({'dollarValueMentionedinMessage':np.std, 'messageLength':np.median})
dollarsAndLengths.tail(10)

                                                               dollarValueMentionedinMessage  \
user       From
zufferli-j Wang, Steve </O=ENRON/OU=NA/CN=RECIPIENTS/CN=SW...                            NaN
           Watt, Ryan </O=ENRON/OU=NA/CN=RECIPIENTS/CN=RWATT>                            NaN
           White, Stacey W. </O=ENRON/OU=NA/CN=RECIPIENTS/...                            NaN
           Zufferli, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN...                  429224.561239
           acedirect@aircanada.ca                                                        NaN
           carol.moline@powerpool.ab.ca@ENRON                                      20.506097
           david_paul_smith@attbi.com@ENRON                                              NaN
           davidpsmith@att.net                                                           NaN
           gregwhalley <8777865122@skytel.com>@ENRON                                     NaN
           tradersummary@syncrasy.com@ENRON                                         0.000000

                                                               messageLength
user       From
zufferli-j Wang, Steve </O=ENRON/OU=NA/CN=RECIPIENTS/CN=SW...         1004.0
           Watt, Ryan </O=ENRON/OU=NA/CN=RECIPIENTS/CN=RWATT>          672.0
           White, Stacey W. </O=ENRON/OU=NA/CN=RECIPIENTS/...          397.0
           Zufferli, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN...          592.0
           acedirect@aircanada.ca                                     8520.0
           carol.moline@powerpool.ab.ca@ENRON                          205.0
           david_paul_smith@attbi.com@ENRON                            127.0
           davidpsmith@att.net                                          96.0
           gregwhalley <8777865122@skytel.com>@ENRON                   146.0
           tradersummary@syncrasy.com@ENRON                          10826.5

**2c** Define a function that computes the range of a series (maximum-minimum)

In [16]:
def numRange(column):
    return column.max()-column.min()
print(numRange(pd.Series([1,2,3,4,5,6])))

5

**2d** Use that function to aggregate messageLength in your groupedByBoth object

In [23]:
rangeAggregated=groupedByBoth.agg(numRange)['messageLength']
rangeAggregated.tail()

user        From
zufferli-j  carol.moline@powerpool.ab.ca@ENRON           956
            david_paul_smith@attbi.com@ENRON               0
            davidpsmith@att.net                            0
            gregwhalley <8777865122@skytel.com>@ENRON      0
            tradersummary@syncrasy.com@ENRON             975
Name: messageLength, dtype: int64

### If you have time

Aggregate the groupedByUser messageLength column using **both** mean and standard deviation **and** aggregate the dollarValueMentionedinMessage column by sum.

In [31]:
aggregated=groupedByUser.aggregate({'messageLength':[np.mean,np.std], 'dollarValueMentionedinMessage':sum})
aggregated

            messageLength              dollarValueMentionedinMessage
                     mean          std                           sum
user
whalley-g      894.285714  1457.428818                  7.789567e+08
whalley-l     1477.378711  2340.370011                  1.883690e+09
white-s        794.793093  1285.820477                  2.585873e+09
whitt-m       1504.915737  2151.249966                  2.464367e+08
williams-j    1893.497115  2984.633307                  6.190834e+07
williams-w3    817.192151  1195.052131                  1.276773e+07
wolfe-j       1280.096408  2089.572928                  1.244216e+09
ybarbo-p      2067.535244  6536.185872                  1.464423e+07
zipper-a      1137.747921  3443.050325                  6.507451e+06
zufferli-j    1163.635548  1737.819408                  4.870386e+06

Use dictionaries in the aggregate statement to name the aggregated columns Average, Standard Deviation, and Sum respectively

In [33]:
aggregated=groupedByUser.aggregate({'messageLength':{'Average':np.mean,'Standard Deviation':np.std}, 'dollarValueMentionedinMessage':{'Sum':sum}})
aggregated

C:\Users\mwbarr\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\groupby\generic.py:1315: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

            messageLength                    dollarValueMentionedinMessage
                  Average Standard Deviation                           Sum
user
whalley-g      894.285714        1457.428818                  7.789567e+08
whalley-l     1477.378711        2340.370011                  1.883690e+09
white-s        794.793093        1285.820477                  2.585873e+09
whitt-m       1504.915737        2151.249966                  2.464367e+08
williams-j    1893.497115        2984.633307                  6.190834e+07
williams-w3    817.192151        1195.052131                  1.276773e+07
wolfe-j       1280.096408        2089.572928                  1.244216e+09
ybarbo-p      2067.535244        6536.185872                  1.464423e+07
zipper-a      1137.747921        3443.050325                  6.507451e+06
zufferli-j    1163.635548        1737.819408                  4.870386e+06