# Module 4 Exercise - Core Pandas Concepts

### Prelude - Importing Libraries
Typically, it's best practice to import all of the packages (aka libraries) that you will need for a notebook/script/project right at the beginning.  For almost all data-related projects, you will start by importing numpy (numerical Python) and Pandas.  Its traditional to abbrieviate these two libraries as np and pd respectively, using the 'as' keyword.

**In the below cell, import numpy and pandas as np and pd respectively**

In [2]:
##Your code here

### Part 1:  Reading Data

In the below section, you will read and write data to/from pandas dataframes.  The files you will be reading from have the same data, but slightly different quirks that will necessitate slightly different approaches to reading the data.  Feel free to open the files in Excel to see what these quirks might be, and, as always, use Google to seek resources.

**1a.**  Read the file enronEnriched.csv from the Module 4 folder into a pandas dataframe

In [107]:
df=pd.read_csv(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Python for Data Analysis\Module 4\enronEnriched.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,Message-ID,Date,From,To,Subject,X-From,X-To,X-cc,...,Cat_10_weight,Cat_11_level_1,Cat_11_level_2,Cat_11_weight,Cat_12_level_1,Cat_12_level_2,Cat_12_weight,labeled,dollarValueMentionedinMessage,messageLength
0,0,500000,<30866805.1075852350908.JavaMail.evans@thyme>,2001-07-13 19:47:20,frozenset({'donna.fulton@enron.com'}),"frozenset({'david.fairley@enron.com', 'matt.lo...","RTO Orders - Grid South, SE Trans, SPP and Ent...","Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN...","Kean, Steven </O=ENRON/OU=NA/CN=RECIPIENTS/CN=...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,2570
1,1,500001,<26879196.1075852350962.JavaMail.evans@thyme>,2001-07-12 11:36:58,frozenset({'david.delainey@enron.com'}),"frozenset({'john.greg@enron.com', 'jeff.skilli...",More UC/CSU Info,"Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/...","Greg Whalley/HOU/ECT@ENRON, Lavorato, John </O...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,3761
2,2,500002,<15339082.1075852350988.JavaMail.evans@thyme>,2001-07-10 00:47:51,frozenset({'jeff.dasovich@enron.com'}),"frozenset({'linda.robertson@enron.com', 'harry...",California Update 07.09.01,"Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C...","skean@enron.com, Shapiro, Richard </O=ENRON/OU...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,1348
3,3,500003,<5265469.1075852351013.JavaMail.evans@thyme>,2001-07-06 20:45:05,frozenset({'richard.shapiro@enron.com'}),"frozenset({'greg.whalley@enron.com', 'john.lav...",Davis & Company -- incompetence personified,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,37.0,2592
4,4,500004,<13706905.1075852351066.JavaMail.evans@thyme>,2001-07-06 20:44:33,frozenset({'richard.shapiro@enron.com'}),"frozenset({'greg.whalley@enron.com', 'john.lav...",Link to DWR contract info,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,43.0,1774

**1b.** Read the file enronEnrichedNonLatin.csv from the Module 4 folder into a pandas dataframe. This file has strange characters

In [109]:
df1b=pd.read_csv(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Python for Data Analysis\Module 4\enronEnrichedNonLatin.csv', encoding='ISO-8859-1')
df1b.head()

,Index,Unnamed: 0,To,Subject,X-From,X-To,X-cc,X-bcc,X-Folder,X-Origin,...,Cat_10_weight,Cat_11_level_1,Cat_11_level_2,Cat_11_weight,Cat_12_level_1,Cat_12_level_2,Cat_12_weight,labeled,dollarValueMentionedinMessage,messageLength
0,0,Â®,"frozenset({'david.fairley@enron.com', 'matt.lo...","RTO Orders - Grid South, SE Trans, SPP and Ent...","Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN...","Kean, Steven </O=ENRON/OU=NA/CN=RECIPIENTS/CN=...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,2570
1,1,Â®,"frozenset({'john.greg@enron.com', 'jeff.skilli...",More UC/CSU Info,"Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/...","Greg Whalley/HOU/ECT@ENRON, Lavorato, John </O...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,3761
2,2,Â®,"frozenset({'linda.robertson@enron.com', 'harry...",California Update 07.09.01,"Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C...","skean@enron.com, Shapiro, Richard </O=ENRON/OU...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,1348
3,3,Â®,"frozenset({'greg.whalley@enron.com', 'john.lav...",Davis & Company -- incompetence personified,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,37.0,2592
4,4,Â®,"frozenset({'greg.whalley@enron.com', 'john.lav...",Link to DWR contract info,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,43.0,1774

**1c.** Read the file enronEnrichedWithClass.csv from the Module 4 folder into a pandas dataframe.  This file has a fake classification banner in the first row.

In [110]:
df1c=pd.read_csv(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Python for Data Analysis\Module 4\enronEnrichedWithClass.csv', skiprows=1)
df1c.head()

,Index,Unnamed: 0,Message-ID,Date,From,To,Subject,X-From,X-To,X-cc,...,Cat_10_weight,Cat_11_level_1,Cat_11_level_2,Cat_11_weight,Cat_12_level_1,Cat_12_level_2,Cat_12_weight,labeled,dollarValueMentionedinMessage,messageLength
0,0,500000,<30866805.1075852350908.JavaMail.evans@thyme>,7/13/2001 19:47,frozenset({'donna.fulton@enron.com'}),"frozenset({'david.fairley@enron.com', 'matt.lo...","RTO Orders - Grid South, SE Trans, SPP and Ent...","Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN...","Kean, Steven </O=ENRON/OU=NA/CN=RECIPIENTS/CN=...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,2570
1,1,500001,<26879196.1075852350962.JavaMail.evans@thyme>,7/12/2001 11:36,frozenset({'david.delainey@enron.com'}),"frozenset({'john.greg@enron.com', 'jeff.skilli...",More UC/CSU Info,"Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/...","Greg Whalley/HOU/ECT@ENRON, Lavorato, John </O...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,3761
2,2,500002,<15339082.1075852350988.JavaMail.evans@thyme>,7/10/2001 0:47,frozenset({'jeff.dasovich@enron.com'}),"frozenset({'linda.robertson@enron.com', 'harry...",California Update 07.09.01,"Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C...","skean@enron.com, Shapiro, Richard </O=ENRON/OU...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,1348
3,3,500003,<5265469.1075852351013.JavaMail.evans@thyme>,7/6/2001 20:45,frozenset({'richard.shapiro@enron.com'}),"frozenset({'greg.whalley@enron.com', 'john.lav...",Davis & Company -- incompetence personified,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,37.0,2592
4,4,500004,<13706905.1075852351066.JavaMail.evans@thyme>,7/6/2001 20:44,frozenset({'richard.shapiro@enron.com'}),"frozenset({'greg.whalley@enron.com', 'john.lav...",Link to DWR contract info,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,43.0,1774

**1d** Read the second and third sheets of enronEnriched**.xlsx** into a pandas dataframe.

In [113]:

secondSheet=pd.read_excel(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Python for Data Analysis\Module 4\enronEnriched.xlsx', sheet_name=1)
print(secondSheet.shape)
thirdSheet=pd.read_excel(r'C:\Users\mwbarr\OneDrive - Federal Bureau of Investigation\Python_for_Data_Analysis\Python for Data Analysis\Module 4\enronEnriched.xlsx', sheet_name=2)
print(thirdSheet.shape)

(15, 55)
(8, 55)

### Part 2:  Performing Basic Cleaning Operations

**2a** Remove all columns from the data frame except for the following:  'Subject', 'X-From', 'X-To', 'X-cc',
       'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName', 'content', 'user', 'labeled', 'dollarValueMentionedinMessage', 'messageLength'

In [114]:
##Your code here
df=df[[ 'Subject', 'X-From', 'X-To', 'X-cc', 'X-bcc', 'X-Folder', 'X-Origin', 'X-FileName', 'content', 'user', 'labeled', 'dollarValueMentionedinMessage', 'messageLength']]
df.head()

,Subject,X-From,X-To,X-cc,X-bcc,X-Folder,X-Origin,X-FileName,content,user,labeled,dollarValueMentionedinMessage,messageLength
0,"RTO Orders - Grid South, SE Trans, SPP and Ent...","Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN...","Kean, Steven </O=ENRON/OU=NA/CN=RECIPIENTS/CN=...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The Southeast RTO orders are out and have foll...,whalley-g,False,NaN,2570
1,More UC/CSU Info,"Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/...","Greg Whalley/HOU/ECT@ENRON, Lavorato, John </O...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,---------------------- Forwarded by David W De...,whalley-g,False,NaN,3761
2,California Update 07.09.01,"Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C...","skean@enron.com, Shapiro, Richard </O=ENRON/OU...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The Bond Legislation The Democrats in the Asse...,whalley-g,False,NaN,1348
3,Davis & Company -- incompetence personified,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,FYI ---------------------- Forwarded by Richar...,whalley-g,False,37.0,2592
4,Link to DWR contract info,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,FYI ---------------------- Forwarded by Richar...,whalley-g,False,43.0,1774

**2b** Rename the columns, removing the "X-" from all columns starting with "X-"

In [115]:
##Your code here
df.columns=[colName.replace('X-','') for colName in df.columns]
df.head()

,Subject,From,To,cc,bcc,Folder,Origin,FileName,content,user,labeled,dollarValueMentionedinMessage,messageLength
0,"RTO Orders - Grid South, SE Trans, SPP and Ent...","Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN...","Kean, Steven </O=ENRON/OU=NA/CN=RECIPIENTS/CN=...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The Southeast RTO orders are out and have foll...,whalley-g,False,NaN,2570
1,More UC/CSU Info,"Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/...","Greg Whalley/HOU/ECT@ENRON, Lavorato, John </O...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,---------------------- Forwarded by David W De...,whalley-g,False,NaN,3761
2,California Update 07.09.01,"Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C...","skean@enron.com, Shapiro, Richard </O=ENRON/OU...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The Bond Legislation The Democrats in the Asse...,whalley-g,False,NaN,1348
3,Davis & Company -- incompetence personified,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,FYI ---------------------- Forwarded by Richar...,whalley-g,False,37.0,2592
4,Link to DWR contract info,"Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...","Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,FYI ---------------------- Forwarded by Richar...,whalley-g,False,43.0,1774

### Part 3 - Basic Exploratory Data Analysis

**3a**  Get the number of rows and columns from the dataframe (called df) that you worked with in part 2

In [116]:
numberOfRows=df.shape[0]
numberOfColumns=df.shape[1]
print('Dataframe has ',numberOfRows,' rows ',numberOfColumns,' columns')

Dataframe has  17401  rows  13  columns

**3b** Use the describe function to get summary statistics for each column of the dataframe (still using df from 1a)

In [117]:
df.describe()
##Your code here

       dollarValueMentionedinMessage  messageLength
count                   2.244000e+03   17401.000000
mean                    3.048070e+06    1222.784150
std                     3.786289e+07    2723.022246
min                     0.000000e+00       1.000000
25%                     7.000000e+00     174.000000
50%                     5.000000e+01     508.000000
75%                     4.950000e+02    1302.000000
max                     9.864142e+08   97845.000000

**3c** Use the info function to get a different summary of the dataframe

In [101]:
##Your code here

**3d** Get a list of all the columns in the dataframe

In [118]:
df.info()
##Your code here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17401 entries, 0 to 17400
Data columns (total 13 columns):
Subject                          17074 non-null object
From                             17397 non-null object
To                               16181 non-null object
cc                               5252 non-null object
bcc                              11 non-null object
Folder                           17397 non-null object
Origin                           17397 non-null object
FileName                         14979 non-null object
content                          17369 non-null object
user                             17401 non-null object
labeled                          17401 non-null bool
dollarValueMentionedinMessage    2244 non-null float64
messageLength                    17401 non-null int64
dtypes: bool(1), float64(1), int64(1), object(10)
memory usage: 1.6+ MB

**3e** Get counts of the number of times each email sender appears in the 'From' column of the dataframe

In [120]:
df['From'].value_counts()
##Your code here

Davis, Pete </O=ENRON/OU=NA/CN=RECIPIENTS/CN=PDAVIS1>                                                                                                     1392
Williams III, Bill </O=ENRON/OU=NA/CN=RECIPIENTS/CN=BWILLIA5>                                                                                              583
Liz M Taylor                                                                                                                                               563
White, Stacey W. </O=ENRON/OU=NA/CN=RECIPIENTS/CN=SWHITE>                                                                                                  482
Greg Whalley                                                                                                                                               411
Zipper, Andy </O=ENRON/OU=NA/CN=RECIPIENTS/CN=AZIPPER>                                                                                                     372
Stacey W White                                                                                                                                             356
Zufferli, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=JZUFFER>                                                                                                   339
Enron Announcements                                                                                                                                        332
Whitt, Mark </O=ENRON/OU=NA/CN=RECIPIENTS/CN=MWHITT>                                                                                                       332
Outlook Migration Team <Outlook Migration Team/Corp/Enron@ECT>                                                                                             291
Symes, Kate </O=ENRON/OU=NA/CN=RECIPIENTS/CN=KSYMES>                                                                                                       156
Evans, Casey </O=ENRON/OU=NA/CN=RECIPIENTS/CN=CEVANS>                                                                                                      138
"Cherry, Beth" <Beth.Cherry@enform.com>                                                                                                                    133
Y'Barbo, Paul </O=ENRON/OU=NA/CN=RECIPIENTS/CN=PYBARBO>                                                                                                    122
Postlethwaite, John </O=ENRON/OU=NA/CN=RECIPIENTS/CN=JPOSTLE>                                                                                               99
Zionette Vincent                                                                                                                                            98
Wolfe, Jason </O=ENRON/OU=NA/CN=RECIPIENTS/CN=JWOLFE>                                                                                                       98
Paul Y'Barbo                                                                                                                                                98
Chris Abel                                                                                                                                                  90
"Cherry, Beth" <Beth.Cherry@enform.com>@ENRON <IMCEANOTES-+22Cherry+2C+20Beth+22+20+3CBeth+2ECherry+40enform+2Ecom+3E+40ENRON@ENRON.com>                    90
Dahlke, Andrea </O=ENRON/OU=NA/CN=RECIPIENTS/CN=ADAHLKE>                                                                                                    84
Alport, Kysa </O=ENRON/OU=NA/CN=RECIPIENTS/CN=KALPORT>                                                                                                      83
Rodriguez, Grace </O=ENRON/OU=NA/CN=RECIPIENTS/CN=GRODRIQ>                                                                                                  82
Chang, Fran </O=ENRON/OU=NA/CN=RECIPIENTS/CN=FCHANG>                                                                                                        78
Todd Peterson                                                                                                                                               74
Taylor, Liz M. </O=ENRON/OU=NA/CN=RECIPIENTS/CN=LTAYLOR>                                                                                                    71
Jeffrey Snyder                                                                                                                                              69
Rhonda L Denton                                                                                                                                             69
Whalley, Greg </O=ENRON/OU=NA/CN=RECIPIENTS/CN=GWHALLE>                                                                                                     68
                                                                                                                                                          ...
Victor Vega <Victor Vega/ENRON_DEVELOPMENT@ENRON_DEVELOPMENT>                                                                                                1
"Travis Cherry" <travis.cherry@enform.com>@ENRON                                                                                                             1
"P.Willis" <we541be@ssel.toshiba.co.jp>@ENRON                                                                                                                1
Travelocity Member Services <6.1132.6c-af5SsclXjfAGjsRR.1@mail3.travelocity.com>@ENRON                                                                       1
Nieten, Joseph </O=ENRON/OU=NA/CN=RECIPIENTS/CN=JNIETEN>                                                                                                     1
Darrin Donegan <Darrin Donegan/ENRON_DEVELOPMENT@ENRON_DEVELOPMENT>                                                                                          1
petroleumargus.com <R-8-56294-3745823-2-7248-US2-A156BB74@xmr3.com>                                                                                          1
Thresa A Allen <Thresa A Allen/HOU/ECT@ECT>                                                                                                                  1
Rosanna Migliaccio <Rosanna.Migliaccio@robertwalters.com>                                                                                                    1
4uc5@msn.com@ENRON                                                                                                                                           1
"jcrew.com" <service@click.jcrew.com>@ENRON <IMCEANOTES-+22jcrew+2Ecom+22+20+3Cservice+40click+2Ejcrew+2Ecom+3E+40ENRON@ENRON.com>                           1
Michael Zotter <zottermj@hotmail.com>                                                                                                                        1
ur9qncobbv@hotmail.com@ENRON                                                                                                                                 1
"Paul W." <oxxsv@zxmail.com>@ENRON                                                                                                                           1
Aurther Newton <aplldd@yahoo.com>                                                                                                                            1
Miller, Tim <millertr@bp.com>                                                                                                                                1
vAlgcawson@yahoo.com@ENRON <IMCEANOTES-vAlgcawson+40yahoo+2Ecom+40ENRON@ENRON.com>                                                                           1
RealPlayer <news@real-net.net>@ENRON <IMCEANOTES-RealPlayer+20+3Cnews+40real-net+2Enet+3E+40ENRON@ENRON.com>                                                 1
Sandbox Special Announcement <member@sandbox.com>@ENRON <IMCEANOTES-Sandbox+20Special+20Announcement+20+3Cmember+40sandbox+2Ecom+3E+40ENRON@ENRON.com>       1
Smith, Rick </O=ENRON/OU=NA/CN=RECIPIENTS/CN=NOTESADDR/CN=4F0FF757-A90607B4-86256744-56118F>                                                                 1
howardfamily@hotmail.com@ENRON <IMCEANOTES-howardfamily+40hotmail+2Ecom+40ENRON@ENRON.com>                                                                   1
jvxwj@eon.dk@ENRON                                                                                                                                           1
ETS Omaha Solution Center </O=ENRON/OU=NA/CN=RECIPIENTS/CN=MBX_ETSSOLNCTR>                                                                                   1
philblunt2@isitpat.com@ENRON <IMCEANOTES-philblunt2+40isitpat+2Ecom+40ENRON@ENRON.com>                                                                       1
Van Horn, Mike </O=ENRON/OU=NA/CN=RECIPIENTS/CN=MVANHOR>                                                                                                     1
LiteBytz@enron.com                                                                                                                                           1
"Karyn Elder" <karyn@dewittec.net>@ENRON                                                                                                                     1
Lambie, Chris </O=ENRON/OU=NA/CN=RECIPIENTS/CN=CLAMBIE>                                                                                                      1
Smith L Day <Smith L Day/HOU/ECT@ECT>                                                                                                                        1
Gordon, D'Ann </O=ENRON/OU=NA/CN=RECIPIENTS/CN=DGORDON>                                                                                                      1
Name: From, Length: 2195, dtype: int64

(We'll learn how to clean this up in module 10)

### Part 4 - Selecting rows and columns

**4a** Select just the 'From' column of the data frame

In [122]:
fromColumn=df['From']
fromColumn.head()

0    Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN...
1    Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/...
2    Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C...
3    Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...
4    Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS...
Name: From, dtype: object

**4b** Select the 4th row of the dataframe

In [123]:
fourthRow=df.iloc[0]

**4c** Select only the item in the from column from the fourth row of the data frame

In [124]:
fourthFrom=df['From'][0]
fourthFrom

'Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN=NOTESADDR/CN=CDE8DAE-A0B9AB37-862566B7-7A1609>'

### If you have time

Select rows 5 through 7 of the dataframe

In [127]:
fiveThroughSeven=df.iloc[5:8]
fiveThroughSeven

,Subject,From,To,cc,bcc,Folder,Origin,FileName,content,user,labeled,dollarValueMentionedinMessage,messageLength
5,CPUC Proposed Decision Modifying Negative CTC ...,James D Steffes <James D Steffes/NA/Enron@ENRON>,"Steven J Kean <Steven J Kean/NA/Enron@Enron>, ...",NaN,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,In the same Decision that the CPUC is consider...,whalley-g,False,NaN,1793
6,CPUC Decision Suspending Direct Access,James D Steffes <James D Steffes/NA/Enron@ENRON>,David W Delainey <David W Delainey/HOU/EES@EES...,Harry Kingerski <Harry Kingerski/NA/Enron@Enro...,NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The following points highlight legal/regulator...,whalley-g,False,NaN,2042
7,California 7/31,"Johnston, Robert </O=ENRON/OU=NA/CN=RECIPIENTS...","Whalley, Greg </O=ENRON/OU=NA/CN=RECIPIENTS/CN...","Hickerson, Gary </O=ENRON/OU=NA/CN=RECIPIENTS/...",NaN,\GWHALLE (Non-Privileged)\Markets,WHALLEY-G,GWHALLE (Non-Privileged).pst,The train wreck known as California utility cr...,whalley-g,False,NaN,5417

Select the to and from columns of the dataframe with a single line of code

In [129]:
toAndFrom=df[['To','From']]
toAndFrom.head()

,To,From
0,"Kean, Steven </O=ENRON/OU=NA/CN=RECIPIENTS/CN=...","Fulton, Donna </O=ENRON/OU=NA/CN=RECIPIENTS/CN..."
1,"Greg Whalley/HOU/ECT@ENRON, Lavorato, John </O...","Delainey, David </O=ENRON/OU=NA/CN=RECIPIENTS/..."
2,"skean@enron.com, Shapiro, Richard </O=ENRON/OU...","Dasovich, Jeff </O=ENRON/OU=NA/CN=RECIPIENTS/C..."
3,"Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...","Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS..."
4,"Lavorato, John </O=ENRON/OU=NA/CN=RECIPIENTS/C...","Shapiro, Richard </O=ENRON/OU=NA/CN=RECIPIENTS..."

Select the 4th and 5th columns of the dataframe

In [131]:
colsFourAndFive=df.iloc[:,4:6]
colsFourAndFive.head()

   bcc                             Folder
0  NaN  \GWHALLE (Non-Privileged)\Markets
1  NaN  \GWHALLE (Non-Privileged)\Markets
2  NaN  \GWHALLE (Non-Privileged)\Markets
3  NaN  \GWHALLE (Non-Privileged)\Markets
4  NaN  \GWHALLE (Non-Privileged)\Markets

Get the average (mean, median, or mode) of the dollarValueMentionedinMessage column

In [133]:
dollarAverage=df['dollarValueMentionedinMessage'].mean()
dollarAverage

3048070.3057040996