# Python for Data Analysis - Final

**1.** Import pandas and numpy

In [ ]:
##Your code here

**2.** Read the yelp_training_set_review_small.csv file from the course materials into a pandas dataframe

In [ ]:
df=##Your code here
df.head()

**3.** Select the first row of the dataframe

In [ ]:
firstRow=##Your code here
firstRow

**4.**  Select the business_city column of the dataframe

In [ ]:
cities=##Your code here
cities.head()

**5.** Add a column called 'firstLetter' to the dataframe containing the first latter of each business name

In [ ]:
df['firstLetter']=##Your code here
df['firstLetter'].head()

**6.** Use any single function on the entire to get a summary of the whole dataframe

In [ ]:
##Your code here

**7.** Create a histogram of business_stars

In [ ]:
##Your code here

**8.** Filter the data to only include rows with greater than 4 business_stars

In [ ]:
filtered=##Your code here
filtered['business_stars'].head()

**9.** Get the mean number of business stars

In [ ]:
meanStars=##Your code here
meanStars

**10.** Get the number of rows with each value in reviewer_name.  The answer should have each reviewer_name and the number of times it appears in the data

In [ ]:
reviewers=##Your code here
reviewers.head()

In [ ]:
##Run, but do not change this cell
population=pd.Series(np.random.random(100)*100000)
cityNames=pd.Series(df['business_city'].unique())[:100]
cityPopulations=pd.concat([population,cityNames],axis=1)
cityPopulations.columns=['Population','City']
cityPopulations.head()

**11.** The above cell creates and displays the start of a small data frame called cityPopulations.  Merge this dataframe with your main dataframe (df) to add the population column to your dataframe.  The column 'City' in the cityPopulations data frame corresponds to the column 'business_city' in the main dataframe

In [ ]:
merged=##Your code here
merged[['City','business_city','Population']].tail()

**12.** Count the number of missing values in the 'cool' column

In [ ]:
numMissing=##Your code here
numMissing

**13.** Fill those missing values with the mean of the column

In [ ]:
df['cool']=##Your code here
df['cool'].head(10)

**14.** Group the data by business name and aggregate by the mean of 'stars' and median of 'useful'

In [ ]:
averageStarsPerBusiness=##Your code here
averageStarsPerBusiness.head()

**15.** Using the date column, group by month and find the mean number of stars each month

In [ ]:
##Your code here
monthGroups=##Your code here
monthGroups.tail()

In [ ]:
df['business_categories'].head()

**16.** Note that the business_categories column can have multiple values, separated by semi-colons.  Separate these values into distinct columns.

In [ ]:
businessCategories=##Your code here
businessCategories.head()

**17.** Add the business_name column from the main dataframe to the businessCategories dataframe

In [ ]:
businessCategories['business_name']=##Your code here
businessCategories.head()

**18.** Reshape the businessCategories data frame so that there is one row per category.  Your result will have a single column for category (instead of 10) as well as a column for business_name

In [ ]:
reshaped=##Your code here
reshaped.head()

**19.** How many businesses of each business category are there (same structure as #10)

In [ ]:
categoryCounts=##Your code here
categoryCounts.head()

**20.** Extract all words preceded by hashtags from the text column.  Do **not** extract numbers preceded by hashtags

In [ ]:
matches=##Your code here
matches.head()

**21.** Remove rows with no hashtags from your matches data

In [ ]:
matches=##Your code here
matches.head()

**22.** How many instances of each hashtag are there (same structure as #10)

In [ ]:
hashtagCounts=##Your code here
hashtagCounts.head()